/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */

/* CORE STYLES */
:root {
  --color1: rgba(207, 219, 213, 1);
  --color2: rgba(232, 237, 223, 1);
  --color3: rgba(245, 203, 92, 1);
  --color4: rgba(36, 36, 35, 1);
  --color5: rgba(51, 53, 51, 1);
}

